{
  "app_params": {
    "detectFlags": "face_240_detect",
    "faceModelName": "perfect2",
    "facetips": 1,
    "innerfilter": true
  },
  "dev_version": "10.15",
  "min_version": "10.15",
  "systemList": [
    "AnimatorSystem",
    "BehaviorSystem",
    "CameraSystem",
    "EffectNodeSystem",
    "EventSystem",
    "FaceCaptureSystem",
    "FaceMakeupV2System",
    "FaceReshapeSystem",
    "LightSystem",
    "MeshRendererSystem",
    "RenderSystem",
    "ScriptSystem",
    "ShadowMapSystem",
    "SkinMeshRendererSystem",
    "TransformSystem",
    "v1_facedistortionv5",
    "v1_facemakeup",
    "v1_genderdetect_all",
    "v1_genderdetect_boy",
    "v1_genderdetect_girl",
    "v2_filter",
    "v3_facetracker",
    "v5_dynamicjoint",
    "v6_animator",
    "v6_camera",
    "v6_directionalLight",
    "v6_meshrender",
    "v6_skinmeshrender"
  ],
  "type": "amazing",
  "version": "0.1"
}