<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64266032110-8oa9oc05klvlk1a15cn5rrb0vlpbvuvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64266032110-8oa9oc05klvlk1a15cn5rrb0vlpbvuvt</string>
	<key>API_KEY</key>
	<string>AIzaSyDf-Io1LQBsn0YxoC-sdlDcclfg5n1ENxY</string>
	<key>GCM_SENDER_ID</key>
	<string>64266032110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cloud.shoplive.dev.shortform-examples</string>
	<key>PROJECT_ID</key>
	<string>shortform-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>shortform-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64266032110:ios:58671eada7783e6ce0f4ff</string>
</dict>
</plist>