{
	"dev_version" : "10.34.0",
	"min_version" : "10.32.0",
	"systemList" : 
	[
		"AnimatorSystem",
		"AudioSystem",
		"BehaviorSystem",
		"CameraSystem",
		"EventSystem",
		"LightSystem",
		"MeshRendererSystem",
		"ScriptSystem",
		"ShadowMapSystem",
		"SkinMeshRendererSystem",
		"TransformSystem"
	],
	"type" : "amazing",
	"version" : "0.1"
}